<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>

<%= form_with(model: [@group, @blog], local: true, url: choose_new_or_edit) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation" class="text-left text-danger font-weight-bold">
      <%= @blog.errors.count %><%= t 'view.error_has_occurred' %><br>
      <% @blog.errors.full_messages.each do |msg| %>
        <%= msg %><br>
      <% end %>
    </div>
  <% end %>

  <div class="text-left mb-4">
    <div class="blog_title mb-4">
      <%= form.label :title %> <br>
      <%= form.text_field :title, placeholder: "日記タイトルを入力してください（必須）", class: 'form-control font-size-ch' %>
    </div>

    <div class="blog_event_date mb-4 date-form-size-ch">
      <%= form.label :event_date %> <br>
      <%= form.date_field :event_date, class: 'form-control font-size-ch' %>
    </div>

    <div class="blog_content mb-4">
      <%= form.label :content %> <br>
      <%= form.text_area :content, placeholder: "日記の内容を入力してください", class: 'form-control font-size-ch line-height-ch', rows: 8 %>
    </div>

    <div class="blog_image mb-4">
      <%= form.label :photo %>
      <%= image_tag(@blog.photo.url) if @blog.photo && @blog.photo.url %>
      <% if @blog.photo.url %>
        <%= form.file_field :photo, class: 'd-none' %>
      <% else %>
        <%= form.file_field :photo %>
      <% end %>
      <%= form.hidden_field :photo_cache %>
    </div>

    <%= form.fields_for :maps do |map| %>
      <div class="date-form-size-ch mb-4">
        <%= map.label :event_time %>
        <%= map.time_field :event_time, class: 'form-control font-size-ch' %>
      </div>
      <%= map.hidden_field :address, id: "hidden_address" %> 
    <% end %>

    <div class="mb-4">
      <%= t '.event_destination' %><br>
      <input id="address" type="textbox" value="" placeholder="イベント先を入力してください 例：東京タワー または 東京都港区芝公園４丁目２−８ など", class='form-control font-size-ch' >
    </div>

    <input type="button" value="<%= t '.map_search' %>" onclick="codeAddress()">
    <%= t '.after_entering_the_event_destination_press_the_map_search_button' %>

    <div id="display">
      <%= t '.if_the_search_is_successful_longitude_and_latitude_are_displayed_here' %>
    </div>
  </div>

    <div id='map' class="mx-auto container-fluid" style='height: 600px;'></div>

  <script>
    var display = document.getElementById('display')
    function initMap() {
      map = new google.maps.Map(document.getElementById(`map`), {
        center: {
          lat: 35.6458437,
          lng: 139.7046171
        },
        zoom: 9,
      });
      if (!!gon.search_addresses) {
        geocoder = new google.maps.Geocoder()
        geocoder.geocode({
            'address' : gon.search_addresses
          }, function(results, status) {
            map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
        });
      }
    }

    var geocoder

    function codeAddress() {
      var inputAddress = document.getElementById('address').value;
      geocoder = new google.maps.Geocoder()

      geocoder.geocode({
        'address': inputAddress
      }, function (results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          if (typeof marker != 'undefined') {
            marker.setMap(null);
          }
          marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
          });
          var hidden_address = document.getElementById('hidden_address');
          hidden_address.setAttribute("value", inputAddress);

        display.textContent = "<%= t '.search_results' %>" + results[ 0 ].geometry.location
        } else {
        alert('<%= t '.no_search_results' %>' + status);
        }
      });
    }  
  </script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
  
  <div class="text-left mt-4">
    <%= form.submit class: "btn font-size-ch btn-primary" %>
  </div>
<% end %>