<h3><%= @group.name%><%= t '.is_the_blog_content_okay?' %></h3>

<%= form_with(model:[@group, @blog], local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :event_date %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :photo_cache %>
  <%= form.hidden_field :email_notice %>

  <p><%= t 'blogs.index.title' %>: <%= @blog.title %></p>
  <p><%= t 'blogs.index.event_date' %>: <%= l @blog.event_date, format: :date if @blog.event_date %></p>
  <p><%= t 'blogs.index.content' %>: <%= @blog.content %></p>
  <p><%= t 'blogs.index.photo' %>: <%= image_tag(@blog.photo.url) if @blog.photo && @blog.photo.url %></p>
  <p><%= t 'blogs.index.email_notice' %>: <%= form.check_box :email_notice, {disabled: :true} %></p>
  
  <%= form.submit t('.contribute') %>
  <%= form.submit t('.back'), name: 'back' %>
<% end %>