<h2><%= @group.name %><%= t 'blogs.index.blog_editing' %></h2>

<%= render 'form' %>

<%= link_to t('blogs.index.blog_detail'), group_blog_path(@group, @blog) %> | <%= link_to t('blogs.index.blog_index'), group_blogs_path(@group) %>
