<h2><%= @group.name %><%= t '.blog_index' %></h2>

<%= link_to t('.new_blog_contribution'), new_group_blog_path(@group) %>

<table>
  <tr>
    <th><%= t '.title' %></th>
    <th><%= t '.event_date' %></th>
    <th><%= t '.new_contributor' %></th>
    <th><%= t '.last_updater' %></th>
    <th><%= t '.content' %></th>
    <th><%= t '.photo' %></th>
    <th><%= t '.email_notice' %></th>
  </tr>
    <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= l blog.event_date, format: :date %></td>
      <% if blog.new_contributor.present? %>
        <td><%= blog.new_contributor.name %></td>
      <% else %>
        <td><%= t '.absence' %></td>
      <% end %>
      <% if blog.last_updater.present? %>
        <td><%= blog.last_updater.name %></td>
      <% else %>
        <td><%= t '.absence' %></td>
      <% end %>
      <td><%= blog.content %></td>
      <td><%= image_tag blog.photo.url if blog.photo && blog.photo.url %>
      <% if blog.email_notice %>
        <td><%= link_to t('.stop_notification'), notice_switching_group_blog_path(@group, blog, email_notice: false), method: :patch, data: { confirm: t('.stop_notification?') } %></td>
      <% else %>
        <td><%= link_to t('.notify'), notice_switching_group_blog_path(@group, blog, email_notice: true), method: :patch, data: { confirm: t('.notify?') } %></td>
      <% end %>
      <td><%= link_to t('.blog_detail'),  group_blog_path(@group, blog) %></td>
      <% if current_user.id == blog.new_contributor_id || @group_admin_or_general %>
        <td><%= link_to t('.blog_editing'),  edit_group_blog_path(@group, blog) %></td>
        <td><%= link_to t('.blog_deletion'),  group_blog_path(@group, blog), method: :delete, data: { confirm: t('groups.index.really_deleted?') } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
