<%= link_to t('blogs.blogs_notice.top_page_is_here_new_posts'), root_url %>
<h3><%= t 'blogs.blogs_notice.what_happened', month: @blogs_month %></h3>
<table>
  <tr>
    <th><%= t 'blogs.index.title' %></th>
    <th><%= t 'blogs.index.event_date' %></th>
  </tr>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= link_to blog.title, group_blog_url(@group, blog) %></td>
      <td><%= l blog.event_date, format: :long %></td>
    </tr>
  <% end %>
</table>