<div class="container">
  <h1 class="title">Re: Timeline</h1><br/>
    <h4>
      家族・友達など仲間との過去のイベントを<br>
      自動メール配信で共有してくれるアプリ<br>
      <br>
      好きなメンバー同士でグループ組<br>
      グループ内で日記を投稿・共有<br>
      毎月過去のグループの日記をメンバーへメールで自動配信<br>
      <br>
    </h4>
    <div class="contents">
      <h3>Re: Timelineとは</h3>
      <p>
        家族・友達など仲間とのグループで行ったイベント...<br>
        数々のイベントがありました。<br>
        イベントを重ねた結果...<br>
        この時期はどんなイベントがあったっけ？<br>
        どこに行ってたっけ？<br>
        という事が増えてきました。<br><br>
        そういった経験から、過去のイベントをグループで<br>
        管理・共有・配信ができるアプリがあったら良いな<br>
        という想いで、このアプリを開発しました。
      </p><br>

      <h3>このアプリの使い方</h3>
      <br>
      <h4>好きな人とグループを組む</h4>
      <p>
        ユーザー同士でグループを組むことができます、<br>
        家族・友達など仲間とメンバー組をしましょう。<br>
        グループメンバー登録はグループ詳細設定画面で<br>
        メールアドレスを入力する事により、行うことができます。
      </p>
      <br>
      <h4>グループ内で日記を投稿</h4>
      <p>
        グループを作成した後は、日記を投稿しましょう。<br>
        この日記はグループ内のみで共有する事ができます。<br>
        グループ内での投稿者がわかりやすいように新規投稿者、<br>
        最終更新者が表示されます。
      </p>
      <br>
      <h4>グループの日記をメールで自動配信</h4>
      <p>
      配信設定画面で、過去のグループの日記を<br>
      メンバーに対し、メールで自動配信する設定が行えます。<br>
      毎月最終金曜日19:00〜、Re: Timelineより自動でメール配信を行います。<br>
      過去最大100年前のグループ日記のデータを、配信することができます。<br>
      配信月は、1〜3ヶ月前のパターンから選択する事が可能です。<br>
      <br>
      例：5月最終金曜日に配信されるブログは、過去の6月・7月・8月のどれかから選ぶ事ができる。<br>
      <br>
      全ての日記を通知オフ、日記1つ1つを通知するかどうか<br>
      選択をすることも可能です！<br>
      </p><br>

      <h4>さあ、みんなと思い出を共有しよう！</h4>
    </div>
    <div class="d-flex flex-column bd-highlight mb-3">
      <% if user_signed_in? %>
        <div class="p-2"><%= link_to t('.to_the_list_of_affiliated_groups'), groups_path %></div>
      <% else %>
        <div class="p-2"><%= link_to t('view.login'), new_user_session_path %></div>
        <div class="p-2"><%= link_to t('view.account_registration'), new_user_registration_path %></div>
        <div class="p-2"><%= link_to t('.guest_login'), users_guest_sign_in_path, method: :post %></div>
        <div><%= link_to t('.admin_guest_login'), users_admin_guest_sign_in_path, method: :post %></div>
      <% end %>
    </div>
  </article>
</div>