<div class="container">
  <h1 class="title">Re: Timeline</h1>
    <nav class="menu">
      <ul>
        <li>top</li>
        <li>menu1</li>
        <li>menu2</li>
      </ul>
    </nav>
  <article>
    <div class="contents">
      <ul>
        <li>contents1</li>
        <li>contents2</li>
      </ul>
    </div>
    <div class="topic">
      <h4>Re: Timelineの使い方</h4>
      <ul>
        <li>家族で使う</li>
        <li>友達と使う</li>
      </ul>
    </div>
    <div>
      <% if user_signed_in? %>
        <ul>
          <li><%= link_to t('.to_the_list_of_affiliated_groups'), groups_path %></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to t('view.login'), new_user_session_path %></li>
          <li><%= link_to t('view.account_registration'), new_user_registration_path %></li>
          <li><%= link_to t('.guest_login'), users_guest_sign_in_path, method: :post %></li>
          <li><%= link_to t('.admin_guest_login'), users_admin_guest_sign_in_path, method: :post %></li>
        </ul>
      <% end %>
    </div>
  </article>
</div>