<div class="container">
  <h1 class="title">Re: Timeline</h1><br/>
    <div class="contents">
      <h3>このアプリの使い方</h3>
      <p>
        行ったイベント事を、家族・友人・仲間とブログとして共有し記録します。<br/>
        <br/>
        メール通知設定をすると、翌年毎以降の同月数ヶ月前（1〜3ヶ月前）に<br/>
        「yyyy年mm月はこういうイベントを行っていたよ！」と通知するをしてくれます。<br/>
      </p><br/>
        <h4>グループ機能</h4>
        <p>
        ユーザー同士でグループを組むことができます、家族・友達・同僚など仲間とメンバー組をしましょう。<br/>
        メンバーはグループ詳細設定画面でメールアドレスを入力し、メンバーを組を行う事ができます。
        </p><br/>
        <h4>ブログ機能</h4>
        <p>
        グループを作成した後は、ブログを投稿しましょう。このブログはグループで共有する事ができます。<br/>
        投稿者がわかりやすいよう新規投稿者、最終更新者が表示されます。
        </p><br/>
        <h4>メール通知機能</h4>
        <p>
        配信設定画面より、過去のブログをメールで配信する事ができます、毎月最終金曜日19:00〜こちらの<br/>
        サイトより自動でメール配信を行います。過去最大100年前のブログ情報のデータを取得できます、<br/>
        配信時期は、1〜３ヶ月前より選ぶ事が可能です。<br/>
        例：5月最終金曜日に配信されるブログは、過去の6月・7月・8月のどれかから選ぶ事ができる。<br/>
        <br/>
        全てのブログを通知オフ、ブログ１つ１つを通知するかどうか選ぶことも可能です！<br/>
        </p><br/>

        <h4>さあ、みんなと思い出を共有しよう！</h4>
    </div>
    <div class="d-flex flex-column bd-highlight mb-3">
      <% if user_signed_in? %>
        <div class="p-2"><%= link_to t('.to_the_list_of_affiliated_groups'), groups_path %></div>
      <% else %>
        <div class="p-2"><%= link_to t('view.login'), new_user_session_path %></div>
        <div class="p-2"><%= link_to t('view.account_registration'), new_user_registration_path %></div>
        <div class="p-2"><%= link_to t('.guest_login'), users_guest_sign_in_path, method: :post %></div>
        <div><%= link_to t('.admin_guest_login'), users_admin_guest_sign_in_path, method: :post %></div>
      <% end %>
    </div>
  </article>
</div>