<h2><%= t '.group_delivery_setup', group_name: @group.name %></h2>

<%# <%= form_with(scope: :delivery_period, url: delivery_period_group_path(@group), method: :get, local: true) do |form| %> %>
  <%# <%= form.label :delivery_start_year, t('.delivery_start_year') %> %>
  <%# <%= form.date_select :delivery_start_year, {discard_month: true, start_year:@one_hundred_years_ago , end_year: @this_year} %> %>
  <%# <%= form.submit t('.setup')%> %>
<%# <% end %> %>

<%= form_with(model: @group, url: delivery_period_group_path(@group), local: true) do |form| %>
  <%= form.label :delivery_start_year %>
  <%= form.date_select :delivery_start_year, {discard_month: true, start_year: @one_hundred_years_ago , end_year: @this_year} %>
  <%= form.submit t('.setup')%>
<% end %>
