<h2><%= t '.list_of_affiliated_groups' %></h2>

<%= link_to t('.group_new_registration'), new_group_path %>

<table>
  <tr>
    <th><%= t '.group_name' %></th>
    <th><%= t '.explanation' %></th>
  </tr>
    <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= group.explanation %></td>
      <td><%= link_to t('.group_information_details'), group_path(group) %></td>
      <td><%= link_to t('.group_information_editing'), edit_group_path(group) %></td>
      <td><%= link_to t('.group_deletion'), group_path(group), method: :delete %></td>
    </tr>
  <% end %>
</table>
