<h2><%= t '.list_of_affiliated_groups' %></h2><br>

<p><%= link_to t('.group_new_registration'), new_group_path %></p><br>

<table class="table table-hover">
  <tr>
    <th><%= t '.group_name' %></th>
    <th><%= t '.explanation' %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    <% @groups.each do |group| %>
    <tr>
      <td><%= group.name %></td>
      <td><%= group.explanation %></td>
      <td><%= link_to t('.group_information_details'), group_path(group) %></td>
      <% if @groupings_admin.include?(group.id) %>
        <td><%= link_to t('.group_information_editing'), edit_group_path(group) %></td>
        <td><%= link_to t('.group_deletion'), group_path(group), method: :delete, data: { confirm: t('.really_deleted?') } %></td>
      <% end %>
      <td><%= link_to t('.group_blog_index'), group_blogs_path(group) %></td>
    </tr>
  <% end %>
</table>
