<h2><%= t 'groups.index.group_information_details' %></h2>

<% if @grouping.present? %>
  <div id="error_explanation">
    <h2><%= @grouping.errors.count %><%= t 'view.error_has_occurred' %></h2>
    <ul>
      <% @grouping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<ul>
  <li><%= link_to t('.new_group_blog_contribution'), new_group_blog_path(@group) %></li>
  <li><%= link_to t('groups.index.group_blog_index'), group_blogs_path(@group) %></li>
</ul>

<p><%= t 'groups.index.group_name' %>: <%= @group.name %></p>
<p><%= t 'groups.index.explanation' %>: <%= @group.explanation %></p>

<% if group_admin? %>
  <%= t '.group_member_invitation' %>
  <%= form_with model: :grouping, scope: :post, url: group_groupings_path(@group.id), local: true do |form| %>
      <%= text_field_tag :email, '' %>
      <button type="submit"><%= t '.member_invitation' %></button>
  <% end %>
<% end %>

<%= t '.group_members' %>

<table>
  <th><%= t '.member_name' %></th>
  <th><%= t '.member_email' %></th>
  <% if group_admin? %>
    <th><%= t '.group_admin' %></th>
  <% end %>
  <% @groupings.each do |grouping| %>
    <tr>
    <td><%= grouping.user.name %></td>
    <td><%= grouping.user.email %></td>
    <% if group_admin? %>
      <% if grouping.admin %>
        <td><%= link_to t('.release_admin_privilege'), group_grouping_path(@group, grouping, admin: false), method: :put %></td>
      <% else %>
        <td><%= link_to t('.grant_admin_privilege'), group_grouping_path(@group, grouping, admin: true), method: :put %></td>
      <% end %>
      <td><%= link_to t('.delete_member'), group_grouping_path(@group, grouping), method: :delete, data: { confirm: t('groups.index.really_deleted?') } %></td>
    <% end %>
    </tr>
  <% end %>
</table>

<br>
<%= link_to t('groups.index.group_information_editing'), edit_group_path(@group) %> | <%= link_to t('groups.index.list_of_affiliated_groups'), groups_path %>