<h2><%= t 'groups.index.group_information_details' %></h2>

<p><%= t 'groups.index.group_name' %>: <%= @group.name %></p>
<p><%= t 'groups.index.explanation' %>: <%= @group.explanation %></p>

<%= t '.group_member_invitation' %>
<%= form_with model: :grouping, scope: :post, url: group_groupings_path(@group.id), local: true do |form| %>
  <%= text_field_tag :email, '' %>
  <button type="submit"><%= t '.member_invitation' %></button>
<% end %>

<%= t '.group_members' %>

<table>
  <th><%= t '.member_name' %></th>
  <th><%= t '.member_email' %></th>
  <th><%= t '.group_admin' %></th>
  <% @group.groupings.each do |grouping| %>
  <tr>
    <td><%= grouping.user.name %></td>
    <td><%= grouping.user.email %></td>
    <td><%= link_to t('.delete_member'), group_grouping_path(@group, grouping), method: :delete, data: { confirm: t('groups.index.really_deleted?') } %></td>
    <% end %>
  </tr>
</table>

<br>
<%= link_to t('groups.index.group_information_editing'), edit_group_path(@group) %> | <%= link_to t('groups.index.list_of_affiliated_groups'), groups_path %>