<h2 class="mb-5"><%= t('.forgot_your_password') %></h2>

<div class="form-size-ch text-left mx-auto">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-4">
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力してください", class: 'form-control font-size-ch' %>
    </div>

    <div class="actions mb-4">
      <%= f.submit t('.send_me_reset_password_instructions'), class: "btn font-size-ch btn-outline-secondary bi bi-person-workspace" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
